.timer{
    position: relative;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,40%);
}

.controls{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.controls button{
    background: none;
    border: none;
    font-size: 25px;
}

#duration{
    border:none;
    width: 100%;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
}